:root {
	/* Dark Theme (default) */
	--color-bg: var(--color-bg-dark);
	--color-paper: var(--color-paper-dark);
	--color-primary: var(--color-primary-dark);
	--color-text: var(--color-text-dark);

	/* Dark Theme Values */
	--color-bg-dark: #040c17;
	--color-secondary-bg-dark: #00132b;
	--color-paper-dark: #00060d;
	--color-primary-dark: #1b61c4;
	--color-text-dark: #ffffff;
	--color-text-secondary-dark: #rgba(255, 255, 255, 0.7);

	/* Light Theme Values */
	--color-bg-light: #f0e8db;
	--color-paper-light: #faf2e6;
	--color-primary-light: #1b61c4;
	--color-text-light: #031a37;
	--color-text-secondary-dark: rgba(3, 26, 55, 0.8);

	font-family: "Figtree", sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--color-text);
	background-color: var(--color-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	width: 100%;
	height: 100%;
}

a {
	font-weight: 500;
	color: var(--color-primary);
	text-decoration: inherit;
}
a:hover {
	color: var(--color-primary);
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
